@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/*// Указываем box sizing*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*// Убираем внутренние отступы*/
ul[class],
ol[class] {
    margin: 0;
    padding: 0;
}

/*// Убираем внешние отступы*/
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    padding: 0;
    margin: 0;
}

/*//Выставляем основные настройки по-умолчанию для body*/
body {
    background-image: url("./assets/Main.svg");
    background-size: cover;
    background-repeat: no-repeat;

    min-width: 100vh;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}


:root {
    --font-monser: 'Montserrat', sans-serif;
    --font-poiret: 'Poiret One', cursive;


    --dark-purple: #68368D;
    --dark-green: #104013;
    --light-grey: #B891E8;
    --light-green: #C2EF70;
    --white: #FFFFF2;
}
